*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgb(0, 0, 0);
}
.heading{
    height:5.75rem;
    width:80%;
    background-color: rgb(0, 0, 0);
     text-align: center;
    align-content: center; 
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.75rem;
    font-weight: 900;
    /* margin-left: -3.75rem; */
}
p{
    margin-top: -0.625rem;
    color:rgb(120, 109, 109);
    font-size: 1.875rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-content: center;
}
.image_content{
   display:flex;
   flex-direction: row;
}
#image{
    width:20%;
}
.talk1{
    height: 14.581rem;
    width:100%;
    background-color: black;
    color:rgb(132, 88, 140);
    text-shadow: 2px 2px 15px rgb(124, 59, 135);
    text-align: center; 
    align-content: center; 
    font-size: 1.688rem;
    font-weight: 900;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.v{
    font-size:0.938rem;
    font-weight: 600;
    color:white;
    text-decoration: none;
    color:rgb(65, 65, 250)
}
.biography{
    background-color: black;
}
.biohead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size: 1.875rem;
    color:rgb(53, 102, 106);
    margin-top: 1.875rem;

}
.biocontent{
    color:white;
    font-size: 1.188rem;
    margin: 15px 200px 40px 200px;
}
hr{
    margin:5px 130px 10px 130px;
}
.write{
    display: flex;
    flex-direction: column;
    width:80%;
}
.achihead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size: 1.875rem;
    color:rgb(53, 102, 106);
    margin-top: 1.875rem;
}
.achivement{
    margin:15px 100px 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}
.achivement_content{
    height:12.5rem;
    width: 16.25rem;
    border-radius: 17px;
    background-color: rgb(42, 40, 40);
    color:rgb(163, 115, 185);
    outline: none;
    border-style: none;
    margin:1.25rem;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    align-content: center;
    box-shadow: 0.1px 0.1px 10px white,-0.1px -0.1px 10px white;
     ;
}
.achivement_scontent{
    height:9.375rem;
    width: 9.375rem;
    border-radius: 13px;
    background-color: rgb(42, 40, 40);
    color:rgb(163, 115, 185);
    outline: none;
    border-style: none;
    margin:20px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    align-content: center;
    box-shadow: 0.1px 0.1px 10px white,-0.1px -0.1px 10px white;
}
#bold{
    font-weight:900;
    font-size: 1.125rem;
}